manifest {
    name = 'LIMS Bioinformatic Files Verification and Update'
    mainScript = 'main.nf'
}

params {
	LIMS_URL = ''
	source = ''
   	apitoken = '/path/to/apitoken.txt'
	configurationFile = '/path/to/config.py'
	resultDir ='/path/to/results'
   }

docker {
	enabled = true
}

process {
	withName: QueryBioInfo {
		container = 'lims_verification:latest'
		containerOptions = '--net=host --rm -u $(id -u):$(id -g)'
	}
	withName: LIMSUpdate {
		container = 'lims_verification:latest'
		containerOptions = '--net=host --rm -u $(id -u):$(id -g)'
	} 
}


